@import '../../global-elements.scss';

.form {
  position: fixed;
  right: 10px;

  display: flex;
  padding: 4px;
}

.form__input {
  background-color: $light-green;
  border: 2px solid $puce;
  border-radius: 6px;

  font-family: $arima;
  margin: 0 2px;
  padding: 6px 10px;
  width: 200px;
}

.form__input--last {
  margin-right: 6px;
}

.form__button {
  background-color: $light-green;
  border: 2px solid $puce;
  border-radius: 6px;

  color: $dark-blue;
  font-family: $arima;
  font-weight: 500;
  margin: 0 2px;
  padding: 8px 12px;
}

.navigation {
  background-color: $dark-green;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link {
  color: $dark-blue;
  display: block;
  font-family: $arima;
  font-weight: 500;
  margin: 16px;
}
