<nav class="navigation">

  <div class="title">Heartcooking</div>

  <a class="navigation__link" href="#">Strona główna</a>
  <a class="navigation__link" href="#">Przepisy</a>
  <a class="navigation__link" href="#">Produkty</a>
  <a class="navigation__link" href="#">Lista zakupów</a>
  <a class="navigation__link" href="#">Użytkownicy</a>

  <ng-container *ngIf="loggedIn()">
  <button mat-button [matMenuTriggerFor]="menu" class="menu-button">Menu</button>
  <mat-menu  #menu="matMenu" yPosition="below">
    <button mat-menu-item><i class="fa fa-user menu-item-icon"></i>Edytuj Profil</button>
    <button mat-menu-item (click)="logout()"><i class="fa fa-sign-out menu-item-icon"></i>Wyloguj</button>
  </mat-menu>
</ng-container>

  <form  *ngIf="!loggedIn()" #loginForm="ngForm" class="form" (ngSubmit)="login()">
    <input type="text" name="username" required class="form__input" placeholder="Nazwa użytkownika" aria-label="Nazwa użytkownika" [(ngModel)]="userForLogin.username">
    <input type="password" name="password" required class="form__input form__input--last" placeholder="Hasło" aria-label="Hasło" [(ngModel)]="userForLogin.password">
    <button [disabled]="!loginForm.valid" class="form__button">Zaloguj</button>
    <button class="form__button">Zarejestruj</button>
  </form>

</nav>
