<nav class="navigation">

  <div class="title">Heartcooking</div>

  <a class="navigation__link" href="#">Strona główna</a>
  <a class="navigation__link" href="#">Przepisy</a>
  <a class="navigation__link" href="#">Produkty</a>
  <a class="navigation__link" href="#">Lista zakupów</a>
  <a class="navigation__link" href="#">Użytkownicy</a>

  <form class="form">
    <input type="text" class="form__input" placeholder="Nazwa użytkownika" aria-label="Nazwa użytkownika">
    <input type="password" class="form__input form__input--last" placeholder="Hasło" aria-label="Hasło">
    <button class="form__button">Zaloguj</button>
    <button class="form__button">Zarejestruj</button>
  </form>

</nav>
