@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');

$arima: 'Arima Madurai';
$baloo: 'Baloo 2';
$lemonada: 'Lemonada';
