/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

// Colors definitons
$antique-ruby: #841C26;
$columbia-blue: #D6EFFF;
$dark-jungle-green: #172121;
$puce: #C37D92;
$middle-green-yellow: #B1CC74;


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: lightblue;
}
