/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import 'global-elements.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: $light-blue;
}
