// Colors definitons
$ruby: #841C26;
$light-blue: #D6EFFF;
$light-green: #91ec96;
$dark-green: #2a9410;
$puce: #C37D92;
$middle-green-yellow: #B1CC74;
$dark-blue: darkblue;

// dimensions of elements
$nav-height: 82px;
